*{ margin: 0;
   padding: 0;
}

body {
    background: rgba(5, 7, 41) url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto;
    font-size: 29px;
    font-weight: 400;
    line-height: 45px;
}

.wrapper {
    width: 1440px;
    display: flex;
    margin: 0 auto;
}
 
.aside-block {
    box-sizing: border-box;
    background: rgba(11, 11, 13, 0.4);
    text-align: center;
    
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;      
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.logo {
    width: 137px;
    height: 44px;
    margin: 71px 154px 85px 93px;
}
.active {
    color: blueviolet;
    border-left: 5px solid blueviolet;
}
.aside-block .active:hover {
    color: blueviolet;
}
li {
   width: 37px;
   height: 25px;
   font-size: 17px;
   line-height: 25.19px;
   margin-bottom: 47px;
   padding-left: 139px;
   padding-right: 208px;
   
}
ul li:hover {
    
    border-top-right-radius: 17px;
    box-sizing: border-box;

}

.aside-block ul {
    list-style-type: none;
}

.aside-block li:hover {
    color: #f2c94c;
}

.li-sup {
    margin-top: 394px;
}

.direct {
    opacity: 25%;
    font-size: 17px;
    line-height: 25.19px;
    font-weight: 400;
    margin-top: 81px;
}

.main {
    width: 1090px;
    padding-left: 209px;
    position: relative;
}
.portfolio-container {
    color: #fff;
    font-family:  Arial, Helvetica, sans-serif;
}

.portfolio-container h1 {
    margin-bottom: 40px;
}
.cards {
   padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,250px);
    gap: 50px 50px;
    justify-content: center;
  }

.ITEM {
    width: 259px;
    height: 156px;
}

 .ITEM1 {
    background: url(img/1.png);
     }
.ITEM1:hover {
    background-image: url(img/1.1.png);
}

.ITEM2 {
    background: url(img/2.png);
 }
.ITEM2:hover {
    background-image: url(img/2.2.png);
}

.ITEM3 {
    background: url(img/3.png) ;
 }
.ITEM3:hover {
    background-image: url(img/3.3.png);
}

.ITEM4 {
    background: url(img/4.png) ;
 }
.ITEM4:hover {
    background-image: url(img/4.4.png);
}

.test-button {
    border: 2px solid #FFF;
    padding: 10px 100px 10px 100px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 17px;
    font-size: 20px;
    line-height: 100px;
}
.test-button:hover {
    border: 2px solid #f2c94c;
}

.social-block {
    position: absolute;
    background-color: #a276ff;
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    right: 1px;  
}
.one {
    padding-top: 300px;
    line-height: 4px;
    font-size: 40px;
    line-height: 17px;
    margin-bottom: 50px;
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
}
.two {
    margin-top: 2px;
    line-height: 04px;
    font-size: 16px;
    line-height: 17px;
    font-size: 85px;
    margin-bottom: 50px;
    color: #A276FF;
    font-family: Arial, Helvetica, sans-serif;  
}
.two:hover {
    color: #f2c94c;
}
.text {
    font-size: 29px;
    line-height: 45px;
}
.news {
    margin-top: 76px;
    color: #fff;
}
.news h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0em;
}
.news p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}