*{
    margin: 0px;
    padding: 0;
}
.desktop {
    margin: 50px auto;
    width: 100px;
    height: 50px; 
}
input {
    width: 200px;
    height: 80px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    background-color: grey;
    border: none;
}
.input {
    font-family: Arial;

}
.conteiner {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border: 5px solid #060101e8;
    border-radius: 20px;
    background: #008080;
    color: #fff;
    font-family: Arial;
    padding: 18px;
}
.button {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 20%;
    text-align: center;
    line-height: 60px;
    
}

.flex-column {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    flex-grow: 1;
}

.btn {
    border: 5px rgb(190, 180, 180) solid;
    background-color: #e6d709;
    width: 50%;
    height: 50%;
    margin: 10px;
    border-radius: 20%;
    font-size: 20px;
    font-weight: 900;
}
.appOper {
    background-color: blueviolet;
}
.btn-row {
    display: flex;
    /* justify-content: space-between; */
    flex-grow: 1;
}