@font-face {
    font-weight: 400;
    font-family: "OpenSans";
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

body {
    font-family: "OpenSans", sans-serif;
    background-color: #222422;
    color: rgb(216, 203, 203);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #555755;
}

.contacts {
    display: flex;
    margin: 15px 25px;  
    gap: 300px;  
}

/* .contacts h2 {
    margin-right: 100px;
} */

.left-header {
    margin: 15px 25px;
}

/* .tel:hover {
    display: none;
} */

.tel:hover::before {
    content: "+79088572781";
    margin-right: 50px;
    color: white;
}

.email:hover::before {
    content: "onv2146@yandex.ru";
    margin-right: 50px;
    position: absolute;
    right: 75px;
    color: white;
}

.main {
    width: 1440px;
    margin: 100px auto;
}
.osebe {
    background-color: #555755;
    color: rgb(216, 203, 203);
    border-radius: 15px;
}

.flood {
    padding: 50px;
    margin: 0 100px;
    display: flex;
    gap: 250px;
    justify-content: space-around;

}

.flood h1 {
    margin-bottom: 30px;
    text-align: center;

}

.flood ul {
    font-size: 20px;
}

.flood p{
    font-size: 20px;

}

.naykci {
    padding-right: 50px;
}
.project {
    width: 400px;
    height: 500px;
    border-radius: 15px;
}

.my-projects {
    margin: 50px 0;
    text-align: center;
}

.cont-project {
    display: flex;
    justify-content: space-between;
}

.figma {
    background-image: url(./images/maket.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    background-image: url(./images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.calc {
    background-image: url(./images/calc.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.link-project {
    display: block;
    height: 100%;
}



